<script>
$(function () {
    var $insert = $('<button id="bulkDeleteBtn" type="button" class="btn btn-ec-delete" data-toggle="modal" data-target="#bulkDeleteModal">{{ 'admin.common.delete'|trans }}</button>');
    $('#bulkExportPdf').after($insert);
})
</script>