<link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP" rel="stylesheet">
<div class="footer-add">
    <div class="footer-inner">
        <div class="footer-content">
            <div class="footer-item">
                <div class="footer-content-box">
                    <div class="footer-content-title">
                        <img src="/html/user_data/assets/img/common/logo_footer.png"/>
                        <h3>注文方法について</h3>
                        <span><i></i></span>
                    </div>
                    <div class="footer-content-text">
                        <p>ご注文はインターネットからのみ受け付けております。カート機能を使いご注文ください。お電話・FAX・メールからはご注文を受け付けておりません。</p>
                        <div class="footer-content-link"><a href="##">詳しくはコチラから<img src="/html/user_data/assets/img/common/icon_link.png"/></a></div>
                    </div>
                </div>
                <div class="footer-content-box">
                    <div class="footer-content-title">
                        <img src="/html/user_data/assets/img/common/logo_footer.png"/>
                        <h3>おくりものオプションについて</h3>
                        <span><i></i></span>
                    </div>
                    <div class="footer-content-text">
                        <p>Gourmet  Resort（グルメリゾート）ではおくりものオプションが可能です。熨斗はもちろんメッセージカードの同梱も無料にて承っております。大切な方への感謝のメッセージ、お世話になっている方への御礼のメッセージ添えて贈りませんか。その他、商品と共に贈る花束ブーケサービス等も取り扱っております。</p>
                        <div class="footer-content-img"><img src="/html/user_data/assets/img/common/gift-bannner02.jpg"/></div>
                        <div class="footer-content-link"><a href="##">おくりものオプションの詳細はこちら<img src="/html/user_data/assets/img/common/icon_link.png"/></a></div>
                    </div>
                </div>
                <div class="footer-content-box">
                    <div class="footer-content-title">
                        <img src="/html/user_data/assets/img/common/logo_footer.png"/>
                        <h3>領収書について</h3>
                        <span><i></i></span>
                    </div>
                    <div class="footer-content-text">
                        <p>領収書ご希望のお客様はご注文時にカート内「領収書項目」のプルダウンからご選択ください。商品に同梱させていただきます。</p>
                    </div>
                </div>
                <div class="footer-content-box">
                    <div class="footer-content-title">
                        <img src="/html/user_data/assets/img/common/logo_footer.png"/>
                        <h3>ポイントについて</h3>
                        <span><i></i></span>
                    </div>
                    <div class="footer-content-text">
                        <p>「Gourmet  Resort（グルメリゾート）」ご利用に応じて100円につき1Pを付与致します。貯まったマイポイントはお買い物時に１P＝１円としてご利用頂けます。ポイントの有効期限は付与後１年間となります。ポイントをご利用する事で１年間延長されます。</p>
                    </div>
                </div>
            </div>
            <div class="footer-item">
                <div class="footer-content-box">
                    <div class="footer-content-title">
                        <img src="/html/user_data/assets/img/common/logo_footer.png"/>
                        <h3>配送・送料・お届け日について</h3>
                        <span><i></i></span>
                    </div>
                    <div class="footer-content-text">
                        <p>配送業者は「ヤマト運輸」です。お届けの日時指定は可能ですが、「ご注文日の５日以降」のご指定でお願いします。時間帯につきましては、下記画像をご参照いただき、ご注文画面に表示されるプルダウンメニューからお選び下さい。</p>
                        <p>日にち指定いただいた場合でも、水揚げ状況や荒天の影響、交通・物流状況によりお届けがずれ込んでしまうこともございます。ご了承の上ご注文ください。</p>
                        <div class="footer-content-img"><img src="/html/user_data/assets/img/common/footer_time.png"/></div>
                        <p>商品の出荷は土日祝祭日以外となっております。</p>
                        <p>配送は日本国内に限らせていただきます。また一部お届けできない地域がございます。下記のお届け不可能地域一覧をご確認ください。</p>
                        <div class="footer-content-link"><a href="##">お届け不可能地域一覧<img src="/html/user_data/assets/img/common/icon_link.png"/></a></div>
                        <p>全商品、北海道より全国送料無料にて承っております。</p>
                        <h4>保険について</h4>
                        <p>お荷物は細心の注意をもってお届けいたしますが、輸送中に配送業者の過失により破損など損害を与えた場合は、至急弊社の負担で商品を再送致します。（この場合はお届け予定日より2~3日ご到着が遅れます事をご了承願います。</p>
                    </div>
                </div>
                <div class="footer-content-box">
                    <div class="footer-content-title">
                        <img src="/html/user_data/assets/img/common/logo_footer.png"/>
                        <h3>キャンセル・返品・返金について</h3>
                        <span><i></i></span>
                    </div>
                    <div class="footer-content-text">
                        <p>キャンセルは到着予定日の4日前までにご連絡ください。</p>
                        <p>返品・交換は到着日より3営業日以内といたします。注文商品と異なる商品が到着した場合は、到着から３日以内にご連絡いただいたもののみご返金をさせていただきます。</p>
                        <p>不良品・誤品配送であった場合は代替品配送、もしくはご返金をいたします。但し、お客様のご都合による返品、到着から4日以降の返品・交換のご要望はお受けしておりませんのでご了承ください。</p>
                    </div>
                </div>
            </div>
            <div class="footer-item">
                <div class="footer-content-box">
                    <div class="footer-content-title">
                        <img src="/html/user_data/assets/img/common/logo_footer.png"/>
                        <h3>お支払い方法について</h3>
                        <span><i></i></span>
                    </div>
                    <div class="footer-content-text">
                        <p>当店はクレジットカードのみの取扱いとなります。</p>
                        <p>下記のクレジットカードがご利用いただけます。</p>
                        <div class="footer-content-img"><img src="/html/user_data/assets/img/common/footer_card.png"/></div>
                        <p>必ずご注文されたご本人様名義のクレジットカードをご使用ください。当店では個人情報保護の観点から、クレジットカードのお客様控えを発行しておりません。</p>
                        <p>トラブル防止の為、カード会社からの請求書が届くまで、注文確認メールまたは発送完了メールを大切に保管なさってください。</p>
                        <p>カード会社、契約内容により分割・リボ払いがご利用できない場合がございます。</p>
                        <p>カード番号はSSL（Secure Socket Layer）により暗号化され送信されます。</p>
                        <p>デビットカードの場合は注文完了時点で決済され、金額の変更があった場合2重引き落としという形になり、変更前の金額分クレジット会社から返金される形となります。</p>
                        <p>返金時期についてはご利用になっているクレジット会社にご確認ください。</p>
                    </div>
                </div>
                <div class="footer-content-box">
                    <div class="footer-content-title">
                        <img src="/html/user_data/assets/img/common/logo_footer.png"/>
                        <h3>当店について</h3>
                        <span><i></i></span>
                    </div>
                    <div class="footer-content-text">
                        <div class="footer-address">
                            <div class="footer-address-box"><span>店名</span><p>GOURMET RESORT（グルメリゾート）</p></div>
                            <div class="footer-address-box"><span>運営</span><p>株式会社Knowledge share<br/>〒068-0029 <br/>北海道岩見沢市9条西18丁目8番地4<br/><a href="mailto:Email/gourmet-resort@gr.shop">Email/gourmet-resort@gr.shop</a></p></div>
                        </div>
                        <div class="footer-content-link"><a href="##">特定商取引法の表示はこちら<img src="/html/user_data/assets/img/common/icon_link.png"/></a></div>
                        <div class="footer-content-link"><a href="##">プライバシーポリシー<img src="/html/user_data/assets/img/common/icon_link.png"/></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-banner">
            <div class="footer-banner-item"><a href="##"><img src="/html/user_data/assets/img/common/ad-banner.jpg"/></a></div>
            <div class="footer-banner-item"><a href="##"><img src="/html/user_data/assets/img/common/ad-banner.jpg"/></a></div>
        </div>
        <div class="footer-menu">
            <div class="footer-menu-login"><a href="##">新規会員登録</a></div>
            <div class="footer-menu-list">
                <div class="footer-menu-item"><a href="##">ご利用ガイド</a></div>
                <div class="footer-menu-item"><a href="##">GOURMET RESORT について</a></div>
                <div class="footer-menu-item"><a href="##">特定商取引法に関する表示</a></div>
                <div class="footer-menu-item"><a href="##">プライバシーポリシー</a></div>
                <div class="footer-menu-item"><a href="##">店舗のご案内</a></div>
                <div class="footer-menu-item"><a href="##">お問合せ</a></div>
            </div>
        </div>
        <div class="copyright"><p>copyright 2021-2021 Knowledge share lnc. All rights resereved</p></div>
    </div>
</div>

<script>
    $(function(){
        $('.footer-content-title').click(function(){
            $(this).parents('.footer-content-box').toggleClass('active');
        });
    })
</script>