<div class="history-read">
    <div class="home-title"><h2>最近閲覧した料理</h2></div>
    <div class="history-read-list">
        <div class="history-read-item">
            <div class="history-read-img"><img src="./html/user_data/assets/img/home/banner01.jpg"></div>
            <div class="history-read-text">
                <h3>自家製ローストビーフ</h3>
                <p class="history-read-person">2～3人前</p>
                <div class="first-ranking-star"><span>レビュー評価</span><img src="./html/user_data/assets/img/home/star4.6.png"></div>
                <div class="icon-box">
                    <div class="icon-link-list">
                        <div><a href="##"><img src="./html/user_data/assets/img/common/icon_gift.svg"></a></div>
                        <div><a href="##"><img src="./html/user_data/assets/img/common/icon_coolbin.svg"></a></div>
                    </div>
                    <div class="postfree">
                        <img src="./html/user_data/assets/img/common/icon_postfree.png">
                        <p>7/12<span>（月）</span></p>
                    </div>
                </div>
                <div class="first-ranking-price">
                    <h4>通常販売価格<span>22,000</span>（税込）</h4>
                </div>
            </div>
        </div>
        <div class="history-read-item pc">
            <div class="history-read-img"><img src="./html/user_data/assets/img/home/banner02.jpg"></div>
            <div class="history-read-text">
                <h3>「ズワイガニと鯛」<br/>　北海道魚介たっぷりパエリア</h3>
                <p class="history-read-person">2～3人前</p>
                <div class="first-ranking-star"><span>レビュー評価</span><img src="./html/user_data/assets/img/home/star4.6.png"></div>
                <div class="icon-box">
                    <div class="icon-link-list">
                        <div><a href="##"><img src=".html/user_data/assets/img/common/icon_gift.svg"></a></div>
                        <div><a href="##"><img src="./html/user_data/assets/img/common/icon_coolbin.svg"></a></div>
                    </div>
                    <div class="postfree">
                        <img src="./html/user_data/assets/img/common/icon_postfree.png">
                        <p>7/12<span>（月）</span></p>
                    </div>
                </div>
                <div class="first-ranking-price">
                    <h4>通常販売価格<span>22,000</span>（税込）</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-regist"><a href="##">履歴を表示</a></div>
</div>