<div class="home-gift">
    <div class="inner">
        <div class="gift-banner"><a href="##"><img src="/html/user_data/assets/img/common/gift-bannner.jpg"></a></div>
        <div class="gift-box pc">
            <h3>ギフトサービスについて</h3>
            <p>GOURMET RESORT（グルメリゾート）では誕生日、記念日、御祝や御礼など、<span>大切な方へ心のこもったおくりもの</span>へのオプションとしてラッピングや花束ブーケの同梱サービスをご用意しております。</p>
            <div class="gift-link"><a href="##">詳細はこちら<img src="/html/user_data/assets/img/common/icon_link.png"></a></div>
        </div>
    </div>
</div>